.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
/* joblist list page*/
.joblist.card{
    border-radius: 10px;
}
.joblist.card:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}
.joblist.card .card-footerend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.joblist .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.joblist .card-body .card-details{
    width: 80%;
}

.joblist .card-footerlinks a {
    font-size: 18px;
    margin-right: 41px;
}
.joblist .card-text {
    font-size: 16px;
}


.joblist .card-title {
    font-size: 24px;
}
.joblist .card-footerend .btn{
    font-size: 20px;
}
.joblist .discount{
        background: #f2f2f2;
        width:180px;
        border-radius: 10px;
        padding-bottom: 10px
}

.joblist .discount .card-title{
    background: #e2ae00;
    padding: 5px;
    color: #fff;
    margin-bottom: 0;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 18px;
}
.joblist .discount .card-text {
    text-align: center;
}
.joblist .discount .card-text p {
    margin: 0;
    font-size: 14px;
}
.joblist .discount .card-text span {
        font-size: 27px;
        font-weight: 700;
}
